In [18]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from pathlib import Path

loan_data = Path("../project_1/loan_data.xlsx")

loan_df = pd.read_excel(loan_data, header=0, index_col="Purchase Date")

#loan_df['Purchase_Date'] = (datetime.utcfromtimestamp(0) + timedelta(loan_df['Purchase Date']).strftime("%Y-%m-%d"))

loan_df.head()

,Loan ID,Origination Date,Sold Date,Segment,Term,Status,Days Past Due,Loan Amount,Beginning Period Principal Outstanding,Ending Principal Outstanding,...,Late Fee Paid,Return Item Fee Paid,Overpayment,Sundry Loss,Total Payments Received,Collection Fees,Loan Trailing Fee,Category,Onboarding Loans,Charge offs
Purchase Date,,,,,,,,,,,,,,,,,,,,,
2022-02-11,131223,2020-01-15,NaN,NEAR_PRIME,36,CLOSED,122,6000,0.00,0.00,...,0.0,0,0.0,0,0.00,0.0,0.0,HFI,NaN,0.0
2022-01-03,971875,2021-12-30,NaN,NEAR_PRIME,36,Current,0,25000,21611.50,21017.06,...,0.0,0,0.0,0,879.54,0.0,0.0,HFS,NaN,0.0
2022-01-03,112774,2021-12-30,NaN,NEAR_PRIME,36,Current,0,10000,8949.94,8708.32,...,0.0,0,0.0,0,351.82,0.0,0.0,HFS,NaN,0.0
2022-01-13,659070,2022-01-10,NaN,PRIME,60,Current,0,13000,12165.50,11993.26,...,0.0,0,0.0,0,283.43,0.0,0.0,HFS,NaN,0.0
2022-01-03,399956,2021-12-29,NaN,NEAR_PRIME,36,Current,0,20593,18172.16,17190.22,...,0.0,0,0.0,0,1390.50,0.0,0.0,HFS,NaN,0.0